<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DRC.WordAddIn.BarcodeLabels.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DRC.WordAddIn.BarcodeLabels.Properties.Settings>
            <setting name="ColumnID_Name" serializeAs="String">
                <value>Name</value>
            </setting>
            <setting name="ColumnID_SerialNumber" serializeAs="String">
                <value>SerialNumber</value>
            </setting>
            <setting name="ColumnID_Barcode" serializeAs="String">
                <value>Barcode</value>
            </setting>
            <setting name="DataModel_MainSet" serializeAs="String">
                <value>Data</value>
            </setting>
            <setting name="DataModel_MainTable" serializeAs="String">
                <value>Items</value>
            </setting>
            <setting name="DBConnLocal" serializeAs="String">
                <value>Provider=Microsoft.ACE.OLEDB.12.0; Data Source = {0}; Extended Properties = "Text;HDR=YES;FMT=Delimited";</value>
            </setting>
        </DRC.WordAddIn.BarcodeLabels.Properties.Settings>
    </userSettings>
</configuration>